@font-face {
  font-family: PinkChicken;
  src: url('../font/PinkChicken-Regular.ttf');
}
html {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image:url('../mii/bg.png');
  background-repeat:no-repeat;
  background-size:cover;
cursor: url('https://rc24.xyz/images/cursors/wii.cur'), pointer;
}
body {
  margin: 0;
  cursor: url('https://rc24.xyz/images/cursors/wii.cur'), pointer;
}
.logo {
  background: -webkit-linear-gradient(#eee, #333);
}
a {
  cursor: url('https://rc24.xyz/images/cursors/wii.cur'), pointer;
  text-decoration:none;
  color:black;
}
button {
  cursor: url('https://rc24.xyz/images/cursors/wii.cur'), pointer;
  font-size:20px;
}