@font-face {
    font-family: PinkChicken;
    src: url('../font/PinkChicken-Regular.ttf');
}
body {
margin: 0;
background-color: #1c1c1c;
font-size:24px;
font-family: PinkChicken, "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", cursive;
background-image: 
    url(https://data.1freewallpapers.com/download/forest-fog-bw-trees-dark-2048x1152.jpg);
}
a {
    text-decoration:none;
    color:#696969;
}
a:hover {
    color: #ffffff;
}
