@font-face {
    font-family: PinkChicken;
    src: url('../font/PinkChicken-Regular.ttf');
}
body {
margin: 0;
background-color: #1c1c1c;
font-size:24px;
font-family: PinkChicken, "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", cursive;
background-image: 
    url(https://i.pinimg.com/736x/60/4a/95/604a95e23cbdd2fb8bb467ad34c4ecb1.jpg);
}
a {
    text-decoration:none;
    color:#000000;
}
a:hover {
    color: #ffffff;
}
